* {
  color: black;
  font-family: 'Helvetica';
  outline: 1px dashed green;
  background-color: green;
}

img {
  width: 150px;
  height: 150px;
  margin: 25px;
}

li {
  color: hotpink;
}

h1 {
  text-align: center;
}
p {
  text-align: center;
}